html {
  background-color: rgb(255, 248, 236);
}

.navbar {
  background: rgb(255, 248, 236);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 3;
  box-shadow: 0 4px 5px rgba(14, 36, 49, 0.15);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 6.5rem;
}

.container {
  z-index: 1;
  width: 100%;
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 50px;
}

.hero-container {
  position: relative;
  z-index: -1;
  height: 100vw;
  width: 100vw;
}

.navbar-logo {
  color: #003e52;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.navbar-icon {
  margin-right: 0.5rem;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
  justify-content: end;
}

.nav-item {
  height: 80px;
  border-bottom: 2px solid transparent;
}

.nav-item:hover {
  border-bottom: 2px solid #003e52;
  font-size: 1.5rem;
  transition: all 0.5s ease;
}

.nav-links {
  color: #003e52;
  font-weight: 700;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .navbar {
    margin-top: 22px;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    right: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #1c2237;
    right: 0;
    opacity: 1;
    transition: all 0.6s ease;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    color: white;
  }

  .nav-links:hover {
    color: rgb(204, 204, 134);
    transition: all 0, 3s ease;
  }

  .nav-item:hover {
    border: none;
    font-size: 1.5rem;
  }

  .nav-item {
    width: 100%;
  }

  .navbar-logo {
    left: 0;
    padding-bottom: 25px;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 35%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
  }
}
